@import 'swiper/swiper-bundle.css';
/* @import 'swiper/css/navigation';
@import 'swiper/css/pagination'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add your custom styles here */
#app {
    background-color: #f7fafc;
    color: #1a202c;
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.swiper-button-prev, .swiper-button-next {
    color: #f7fafc;
    background-color: #fdc029;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 16px;
}
